<h1 class="page-heading">Other</h1>

<div class="container">
  <div class="row">
    <div class="card-columns">
      <div class="card">
      <% if @articles.length > 0 %>
        <img src="<%=@articles.last.hero_image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%=@articles.last.title%></h5>
          <p class="card-text"><%=@articles.last.article.truncate(500)%></p>
          <a href="/articles/<%=@articles.last.id%>">Read More</a>
        </div>
      <% else %>
        <p class="no-article">Article Coming Soon</p>
      <%end%>
      </div>
      <%# <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              Someone famous in <cite title="Source Title">Source Title</cite>
            </small>
          </footer>
        </blockquote>
      </div> %>
      <%# <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> %>
      <div class="card bg-purple text-white p-3">
        <blockquote class="blockquote mb-0">
          <small>
            "- At age 23, Oprah was fired from her first reporting job.<br>
            - At age 24, Stephen King was working as a janitor and living in a trailer.<br>
            - At age 28, J.K. Rowling was a suicidal single parent living on welfare.<br>
            - At age 30, Harrison Ford was a carpenter.<br>
            - Julia Child released her first cookbook at age 49.<br>
            - Stan Lee didn’t release his first big comic book until he was 38.<br>
            - Alan Rickman gave up his graphic design career to pursue acting at age 42.<br>
            - Morgan Freeman landed his first MAJOR movie role at age 52.
          </small>
            <br></br>

          <small>
            Whatever your dream is, it is not too late to achieve it. You aren’t a failure because you haven’t found fame and fortune by the age of 21. Hell, it’s okay if you don’t even know what your dream is yet. Even if you’re flipping burgers, waiting tables or answering phones today, you never know where you’ll end up tomorrow.
          </small>
            <br></br>

          <small>
            Never tell yourself you’re too old to make it.
            Never tell yourself you missed your chance.
            Never tell yourself that you aren’t good enough.
            You can do it. Whatever it is.""
          </small>
          <footer class="blockquote-footer text-white">
            <small>
              Source: <a class="text-white" href="https://www.huffingtonpost.co.uk/entry/ages-famous-people-got-big-break-facebook-status_uk_5721f18ee4b0a1e971cb20f6?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAJK8OU_nUaLalBkQCW8L9qWUea1WgnSwIoSG9M31jwUcv_RI_155YzaRrrARcr5Rank8RASxWd0qNFL3u5iMqnYmPOJyJ5lAAKpn2w-H_ZOiq1-uCySrTbalqOarFfGjs65bcY4S30ir1zIufGaMMy0A7R9elFJ-_6fplo6dRcC-" target="_blank"><cite>Up for debate</cite></a> 
            </small>
          </footer>
        </blockquote>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Days Spent in Isolation</h5>
          <h6 class="card-title">Round 1</h6>
          <h1 class="card-text">77d</h1>
          <h6 class="card-title">Round 2</h6>
          <h1 class="card-text">112d</h1>
          <%#  <h1 class="card-text" id=isolation></h1> %>
          <%# id=isolation %>
        </div>
      </div>
      <%# <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div> %>
      <div class="card p-3 text-right">
        <blockquote class="blockquote mb-0">
          <p>“Be who you are and say what you feel, because those who mind don’t matter, and those who matter don’t mind.”</p>
          <footer class="blockquote-footer">
            <small class="text-muted">
              <cite title="Source Title">Bernard M. Maruch</cite>
            </small>
          </footer>
        </blockquote>
      </div>
      <%# <div class="card">
        <img class="ian" src="media/ian_sommerhalder.jpg" class="card-img-top" alt="...">
      </div> %>
    </div>
  </div>
</div>

<div class="container">
  <h1 class="page-heading">Blog Posts</h1>
  <% @articles.each do |article| %>
  <div class="flex blog-post">
    <div class="blog-img">
      <a href="/articles/<%=article.id%>">
        <img class="img-blog" src="<%=article.hero_image%>" alt="">
      </a>
    </div>
    <div class="blog-detail">
      <h3><%=article.title%></h3>
      <p class="article-brief"><%=article.article.truncate(302)%></p>
      <a class="read-more" href="/articles/<%=article.id%>">Read More</a>
    </div>
  </div>
  <% end %>
</div>

<script>
//countdown round 1: var isolationCountDate = new Date("Mar 16, 2020 00:00:00").getTime();
var isolationCountDate = new Date("Jul 09, 2020 00:00:00").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = now - isolationCountDate;

  var days = Math.floor(distance / (1000 * 60 * 60 * 24));

  document.getElementById("isolation").innerHTML = days + "d ";
}, 1000);

</script>