<h1 class="page-heading">Technology</h1>

<div class="container">
  <div class="row">
    <div class="card-columns">
      <a href="https://australian-athletes.herokuapp.com/" target="_blank">
        <div class="card">
          <img src="media/athlete-database.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Australian Athlete Database</h5>
            <p class="card-text">Fulfilling a need for statistics on the elite climbers in Australia this project uses JavaScript and Node.js to display currentcompetition results.</p>
          </div>
        </div>
      </a>
      <div class="card p-3">
        <blockquote class="blockquote mb-0 card-body">
          <a class="twitter-timeline" data-height="400" data-link-color="#981CEB" href="https://twitter.com/briscoero?ref_src=twsrc%5Etfw">Tweets by briscoero</a>
        </blockquote>
      </div>
      <a href="https://floating-anchorage-82839.herokuapp.com/" target="_blank">
        <div class="card">
          <img src="media/bubbles.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bubbles</h5>
            <p class="card-text">A collaborative project using Ruby to ensure you always get thefull story from the news and not the one-sidedview from your social ‘bubble’.</p>
          </div>
        </div>
      </a>
      <div class="card bg-purple text-white p-3">
          <h5>2019 Hackathons</h5>
          <ul>
            <li>RHoK Australia - Participant</li>
            <li>Sports Tech Cup - Finalist</li>
          </ul>
      </div>
      <a href="https://stark-plateau-48200.herokuapp.com/" target="_blank">
        <div class="card">
          <img src="media/movies.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Movies App</h5>
            <p class="card-text">Search OMDB for all your movie needs. Created with Ruby using a combination of database and API.</p>
          </div>
        </div>
      </a>
      <a href="https://frozen-basin-26237.herokuapp.com/" target="_blank">
        <div class="card">
          <img src="media/business-network.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Business Network</h5>
            <p class="card-text">Using Ruby to create a space for businesses to network or create a tribe which has been customised using CSS.</p>
          </div>
        </div>
      </a>
      <a href="https://roisinbr.github.io/Tic-Tac-Toe/" target="_blank">
        <div class="card">
          <img src="media/tic-tac-toe.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Tic-Tac-Toe</h5>
            <p class="card-text">Using JavaScript to develop a game ofnought’s and crossesbetween twoplayers and customised using CSS.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<%# <div class="container"> %>
  <%# <h1 class="page-heading">Blog Posts</h1> %>
  <%# <% @articles.each do |article| %>
  <%# <div class="flex blog-post"> %>
    <%# <div class="blog-img"> %>
      <%# <a href="/articles/<%=article.id%>
        <%# <img class="img-blog" src="<%=article.hero_image%>
      <%# </a> %>
    <%# </div> %>
    <%# <div class="blog-detail"> %>
      <%# <h3><%=article.title%>
      <%# <p class="article-brief"><%=article.article.truncate(300)%>
      <%# <a class="read-more" href="/articles/<%=article.id%>
    <%# </div> %>
  <%# </div> %>
  <%# <% end %>
<%# </div> %>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>